* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Arial;
}

.header {
  text-align: center;
  padding: 32px;
}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 5px;
}

.column {
  -ms-flex: 25%;
  flex: 25%;
  max-width: 25%;
  padding: 0 5px;
}

.purple {
  opacity: 0.5;
  background-color: #7300fb;
  height: 405px;
  border-radius: 4%;
}
.yellow {
  opacity: 0.5;
  background-color: #fdc500;
  height: 352px;
  border-radius: 4%;
}
.grey {
  opacity: 0.5;
  background-color: #292b29;
  height: 352px;
  border-radius: 4%;
}

.column div {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

@media screen and (max-width: 800px) {
  .column {
    -ms-flex: 50%;
    flex: 50%;
    max-width: 50%;
  }
}

@media screen and (max-width: 600px) {
  .column {
    -ms-flex: 100%;
    flex: 100%;
    max-width: 100%;
  }
}

.btn-sabion {
  background-color: #ffffff00;
  border: 0;
  text-decoration: none;
  color: #333;
  padding: 0 40px 10px 40px;
  min-width: 150px;
  text-decoration: none;
}

.btn-sabion:hover {
  text-decoration: none;
  color: #333;
}

.btn-sabion:focus {
  border-bottom: 2px solid #7300fb;
}
